*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 0;
    background-color: gray;
}

.container{

    width: 600px;
    margin: 100px auto;
}

.container div{
    
    display: inline-block;
    border: none ;
    padding: 10px;

    font-size: 15px;
}

.container.coluna{
    width: 50%;
}


.container.coluna.card{
    background-color: white;
    padding: 20px;
    width: 100%;
}