body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
  }
  
  .header {
    padding: 10px;
    background: #fff;
    width: 80%;
    display: flex;
  }
  
  .logo {
    height: 40px;
    background: #dedede;
    width: 120px;
  }
  
  .menu {
    background: #babaca;
    flex: 1;
    margin-left: 10px;
  }
  