body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;
  }
  
  .box {
	width: 368px;
	padding: 20px;
	background: #fff;
	display: flex;
  }
  
  .box img {
	max-width: 120px;
  }
  
  .conteudo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
  }