body{
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(207, 145, 11);
}


.container{
    width:415px;;
    height:586px;
    background: #c4c4c4;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 10px;
    background: #fff;
    display: flex;
    height: 5%;
    justify-content: space-between;
    
}

.icone{

  width: 30%;
  background: #c4c4c4;
  margin-left: 20px;
  height: 25px;
}


.meio{
    display: flex;
    min-height: 78vh;
    align-items: center;
    justify-content: center;
}

.item3{
    height: 60px;
    background: white;
    width: 80px;
    display: flex;
    margin:10px;
}

.item4{
    height: 60px;
    background: white;
    width: 80px;
    display: flex;
}

.footer{
    padding-bottom: 30px;
    background: #fff;
    display: flex;
    height: 5%;
    justify-content: space-between;
}

.item5{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #c4c4c4;
    margin: 11px;
}