*{
    box-sizing: border-box;
}


.container{
    display: flex;
}


.box{
    margin-right: 10px;
    position: relative;
    height: auto;
    max-width: 400px;
}

.box img{
    max-width: 100%;
    display: block;
}

.texto{
    background-color: rgba(0,0,0,0.8);
    
    color: white;
    position: absolute;
    bottom: 0 ;
    padding: 20px;
    
}

.box:hover .texto{
    color: salmon;
    transition: .5s ease-in;
}
