
@font-face {
    font-family: "Star Wars";
    src: url('fonts/starwars.ttf');
}

body{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
        
}

.titulo{
    color: yellow;    
    font-size: 100px;
    font: "Star Wars"; 
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sinopse-marquee{
    color: yellow;
     /* Flexbox to center the entire element on the screen */
  display: flex;
  justify-content: center;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  height: 800px;
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 400px;
  /* The rest is totally up to personal styling preferences */

  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 200%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

ol{
    list-style: none;
}